/*fuentes*/
@font-face{
	font-family: gotica;
	src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}
@font-face{
	font-family: divertida;
	src: url(../fonts/LuckiestGuy-Regular.ttf);
}
@font-face{
	font-family: logo;
	src: url(../fonts/FredokaOne-Regular.ttf);
}

/*Generales*/
*{
	padding: 0px;
	margin: 0px;
}
/*#F5EFC4*/
body{
	background: #F5EFC4;
	background-attachment: fixed;
	font-family: "gotica";
}
a{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
}
a:hover{
	color:lightgrey;
}
p{
	color: lightgrey;
}
h1{
	
	letter-spacing: 2px;
	color: lightblue;
	font-family: "gotica";
}
h2, h4{
	color: lightgrey;
}
/*container*/
#container{
	width: 80%;
	margin: 0px auto;
	box-shadow: 0px 0px 0px lightgrey;
	background: rgba(90,90,90,0.8);
}
/*Header*/

#header{
	height: 145px;
	margin: 0px auto;
	background: #EBE08D;
}

#logo img{
	width: 130px;
	float: left;
	
}
#logo h1{
	font-family: "logo";
	color: #0071BC;
}
#logo a{
	margin-top: 25px;
	float: left;
	font-size: 40px;
	letter-spacing: 4px;
	transition: all 300ms;
	color: white;
}

/*Menu*/

#menus{
	clear: both;
	background: #998700;
	color: black;
	height: 50px;
	border-bottom: 4px solid;
}
#menus a{
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	text-transform: uppercase;
}

#menu2 ul{
	float: center;
	list-style: none;
}

#menus ul li{
	line-height: 55px;
	float: left;
	border-right: 1px solid #363636;
	padding-right: 6px;
}
#menus a:first-child{
	border-left: 1px solid #363636;
}

/*inicio*/
#inicio{
	float: left; 
}
.articulo{
	margin: 15px;
	padding-bottom: 40px;
	display: block;
	width: 75%;
	float: left;
}
.articulo h2{
	text-transform: capitalize;
	letter-spacing: 2px;
	color: lightblue;
	padding-left: 20px;

}
#miniatura{
	max-height: 100px;
}


.articulo h4{
	font-style: italic;
	margin-bottom: 15px;
	font-size: 15px;
	padding-left: 20px;

}
.articulo p{
	padding-bottom: 5px;
	font-size: 17px;
	text-align: justify;
	padding-right: 15px;
	padding-left: 20px;
	margin-bottom: 5px;
}
.articulo img{
	max-width: 500px;
	padding-left: 30px;
}

#min p{
	width: 90%;
}
/*footer*/
footer{
	clear: both;
	border-top: 3px solid #01b1ea;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
	background: #998700;
}
/*registro*/
.formulario{
	padding-left:10px;
	padding-right: 10px;
	display: block;
	background: rgba(20, 20, 20, 0.5);
	width: 50%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: 25%;
	margin-bottom: 40px;


}
.formulario label{
	color: white;
	
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
select{
	color: white;
	display: block;
	width: 95%;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
select{
	border: 1px solid #c9c9c9;
	box-shadow: 0px 0px 0px #ccc inset;
	background: white;
	padding: 3px;
	color: gray;
	transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"],
input[type="number"],
{

	border 1px solid #1579b5;
	color: #998700;
}
input[type="button"],
input[type="submit"],
button{
	display: block;
	border-radius: 2px;
	width: auto;
	padding: 5px;
	color:white;
	background: #2979cd;
	cursor: pointer;
	border: 1px solid #11608e;
	padding-left: 10px;
	padding-right: 10px;
}
strong{
	color: white;
	font-size: 16px;
}

#cursos{
	float: right;
	display: block;
	background: rgba(20, 20, 20, 0.3);
	width: 70%;
	margin: 0px auto;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	padding-right: 5px;
}

#cursos h2{
	text-align: center;
}
#cursos table{
	text-align: center;
	width: 100%;
	border: 1px solid #555;
	margin: 2px;
	
}
#cursos tr{
	
	color: white;
	font-style: bold;
	padding: 3px;

}
#cursos td{
	border-top: 1px solid #555;
	color: white;
	padding: 3px;

}

.button{
	text-decoration: none;
	background: #2979cd;
	color: white;
	padding: 3px;
	border: 1px solid #11608e;
	margin: 5px;
}

.button-danger{
	border: 1px solid darkred;
	background: red;
}
#lateral{
	float: left;
	background: #222;
	color: white;
	width: 20%;
	min-height: 500px;
	border: 2px solid;
	padding: 7px;
}

#lateral ul{
	padding-top: 10px;
	list-style: none;
}
#lateral li{
	display: block;
	padding-bottom: 4px;
	border-top: 1px solid white;
	padding-top: 4px;

}
#crear{
	float: right;
	background: rgba(20, 20, 20, 0.5);
	padding: 5px;
	margin: 5px;
	width: 70%;
}

#min{
	background: rgba(20, 20, 20, 0.5);
}

#crear input[type="submit"]{
	margin: 5px;
}
#inicio p{
	padding-right: 30px;

}


/*responsive*/

@media (max-width: 1017px){
	#header{
	height: 290px;
}
#logo img{
	margin-left: 40%;	
}

}
@media (max-width: 965px){
	#header{
	height: 370px;
}
#logo img{
	margin-left: 40%;	
}

}
@media (max-width: 612px){
	#header{
	height: 370px;
}
	
#logo img{
	margin-left: 20%;	
}
#logo img{
	width: 60%;
	float: left;
	
}
#logo h1{
	font-family: "logo";
	color: #0071BC;
	font-size: 15px;
	color: #EBE08D;
	text-align: center;
}

}
